<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Flask Todo App</title>
    <style>
        body{
            background-image: radial-gradient(circle, #00fcff, #30ddff, #90b7ff, #bd92ce, #c17690);
        }
    </style>
</head>
<body>
    <h1 class="bg-dark text-white text-center">TODO FLASK APP</h1>
    <div class="container">
    <form action="/add" method="POST">
        <div class="d-flex">
            <input class="form-control bg-dark text-white w-75" type="text" name="title" placeholder="Enter Todo">
            <button class="btn btn-dark w-25" type="submit">Add</button>
        </div>
    </form>
    </div>
    {% for todo in todo_list %}
    <div class="container">
        <p class="alert alert-dark my-3 ">{{ todo.id }} | {{ todo.title }}</p>
        {% if todo.complete == False %}
            <span class="badge badge-pill badge-light">Not Complete</span>
        {% else %}
            <span class="badge badge-light badge-pill">Completed</span>
        {% endif %}
        <a class="btn btn-primary badge-pill" href="/update/{{ todo.id }}">Update</a>
        <a class="btn btn-danger badge-pill" href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}
    <footer class="fixed-bottom">
    <div class="text-center p-4">
        © 2021 Copyright:Anni Developer
    </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>